<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8587042219787939"

<meta name="google-site-verification" content="RysxVYzRU4PCDuYKoCmxzFXknim_qNy0PfaIT9aSL9g" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9570079959952863"
     crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-9570079959952863">
    <script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>



<!-- end custom head snippets -->
